src/main/xquery/app/resources/config/service.xml

<?xml version="1.0" encoding="UTF-8"?>
<application 
		xmlns="http://wadl.dev.java.net/2009/02" 
		xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		xmlns:sr="http://www.w3.org/2005/sparql-results#"
		xmlns:trix="http://www.w3.org/2004/03/trix/trix-1/"
		xmlns:wadl="http://wadl.dev.java.net/2009/02"
		xmlns:xhtml="http://www.w3.org/1999/xhtml"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://wadl.dev.java.net/2009/02 
				../schemas/wadl/wadl20090202.xsd">
	<doc>GRIP Graph Store Service Description.</doc>
	
	<grammars/>
	
	<resources base="http://www.marklogic.com/grip">
		
		<resource path="/">
			<doc>Service.</doc>
			<method name="GET">
				<doc>Retrieve the underlying Service Description (WADL).</doc>
				<request/>
				<response status="200">
					<representation href="#html"/>
					<representation href="#wadl"/>
				</response>
			</method>
		</resource>
		
		<resource path="/graphs">
			<doc>Graphs collection.</doc>
			<method name="HEAD">
				<doc>Meta Information for the collection and/or default/named graph.</doc>
				<request>
					<param href="#default"/>
					<param href="#graph"/>
				</request>
				<response status="204"/>
				<response status="404"/>
			</method>
			<method name="GET">
				<doc>Retrieve the Graph Store's Service Description graph or if 
					you specify the default or named graph you retrieve that graph.</doc>
				<request>
					<param href="#default"/>
					<param href="#graph"/>
				</request>
				<response status="200">
					<representation href="#rdf-xml"/>
					<representation href="#trix"/>
					<representation href="#ntriples"/>
				</response>
				<response status="404"/>
			</method>
			<method name="POST">
				<doc>Create a new graph or merge to the default/named graph.</doc>
				<request>
					<param href="#slug"/>
					<param href="#default"/>
					<param href="#graph"/>
					<representation href="#rdf-xml"/>
					<representation href="#trix"/>
					<representation href="#ntriples"/>
				</request>
				<response status="201">
					<param href="#loaction"/>
				</response>
				<response status="204"/>
				<response status="409">
					<doc>Report a conflict if the proposed graph URI already exists.</doc>
				</response>
			</method>
			<method name="PUT">
				<doc>Insert/Replace the default/named graph.</doc>
				<request>
					<param href="#default"/>
					<param href="#graph"/>
					<representation href="#rdf-xml"/>
					<representation href="#trix"/>
					<representation href="#ntriples"/>
				</request>
				<response status="201">
					<param href="#loaction"/>
				</response>
				<response status="204"/>
			</method>
			<method name="DELETE">
				<doc>Delete the default/named graph.</doc>
				<request>
					<param href="#default"/>
					<param href="#graph"/>
				</request>
				<response status="204"/>
				<response status="404"/>
			</method>
		</resource>
		
		<resource path="/graphs/{NAME}">
			<doc>Direct graph requests.</doc>
			<param name="NAME" style="template" type="xs:string"/>
			<method name="HEAD">
				<doc>Meta Information for the context graph.</doc>
				<response status="204"/>
				<response status="404"/>
			</method>
			<method name="GET">
				<doc>Retrieve the context graph.</doc>
				<request/>
				<response status="200">
					<representation href="#rdf-xml"/>
					<representation href="#trix"/>
					<representation href="#ntriples"/>
				</response>
				<response status="404"/>
			</method>
			<method name="POST">
				<doc>Merge to the context graph.</doc>
				<request>
					<representation href="#rdf-xml"/>
					<representation href="#trix"/>
					<representation href="#ntriples"/>
				</request>
				<response status="204"/>
				<response status="404"/>
			</method>
			<method name="PUT">
				<doc>Create/Replace the context graph.</doc>
				<request>
					<representation href="#rdf-xml"/>
					<representation href="#trix"/>
					<representation href="#ntriples"/>
				</request>
				<response status="201">
					<param href="#loaction"/>
				</response>
				<response status="204"/>
			</method>
			<method name="DELETE">
				<doc>Delete the context graph.</doc>
				<request/>
				<response status="204"/>
				<response status="404"/>
			</method>
		</resource>
	</resources>
	
	<param id="query" name="query" required="false" style="query" type="xs:string">
		<doc>URI encoded SPARQL query</doc>
	</param>
	<param id="default" name="default" required="false" style="query" type="xs:boolean">
		<doc>URI encoded Default Graph URI</doc>
	</param>
	<param id="graph" name="graph" required="false" style="query" type="xs:string">
		<doc>URI encoded Named Graph URI</doc>
	</param>
	<param id="slug" name="Slug" required="false" style="header" type="xs:string">
		<doc>Human readable title for graph that is used to derive the URI for a new graph.</doc>
	</param>
	<param id="loaction" name="Location" required="true" style="header" type="xs:string">
		<doc>Location of a newly generated graph.</doc>
	</param>
	
	<representation id="ntriples"	mediaType="text/plain"/>
	<representation id="turtle" 	mediaType="text/turtle"/>
	<representation id="html" 		mediaType="text/html"						element="xhtml:html"/>
	<representation id="rdf-xml" 	mediaType="application/rdf+xml"				element="rdf:RDF"/>
	<representation id="trix" 		mediaType="application/trix+xml"			element="trix:trix"/>
	<representation id="sr" 		mediaType="application/sparql-result+xml"	element="sr:sparql"/>
	<representation id="wadl" 		mediaType="application/vnd.sun.wadl+xml"	element="wadl:application"/>
</application>